*{
    box-sizing: border-box;
}
@font-face {
    font-family: "helveticaneue";
    src: url("Font/helveticaneue.ttf");
}
@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("Font/HelveticaNeue-Bold.otf");
}
@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("Font/HelveticaNeue-Medium.otf");
}
body {
    margin:0px;
    padding: 0px;
    font-family: 'helveticaneue', serif;
    overflow-x: hidden;
    font-size:15px;
}
body a {
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
.container-fluid {
    display: none;
}
.loading {
    width: 100%;
    height:100%;
    top:0px;
    display:flex;
}
.loading_main {
    height:100px;
}
.loading_main .rounded-circle {
    width:100px; 
    height:100px; 
    background-color: transparent;
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
  }
.spinx1 .spinx1_main {
    top:5px; 
    width: 5px; 
    height: 5px; 
    left:50%; 
    transform:translateX(-50%);
}
.spinx2 .spinx2_main {
    top:4px;
    width: 7px; 
    height: 7px;
    left:50%; 
    transform:translateX(-50%); 
}
.spinx3 .spinx3_main {
    top:3px;
    width: 9px; 
    height: 9px; 
    left:50%; 
    transform:translateX(-50%);
}
.spinx4 .spinx4_main {
    top:2px;
    width: 11px; 
    height: 11px; 
    left:50%; 
    transform:translateX(-50%);
}
.spinx5 .spinx5_main {
    top:1px;
    width: 13px; 
    height: 13px; 
    left:50%; 
    transform:translateX(-50%);
}
.spinx6 .spinx6_main {
    top:0px;
    width: 15px; 
    height: 15px;
    left:50%; 
    transform:translateX(-50%);
}
#topsite {
    height: 197px;
}
#topsite_top {
    background-color:#252525;
    font-size: 13px;
    color:white;
}
#topsite_top a {
    color:white;
}
#topsite_main i {
    color:black;
    transition:0.5s;
}
#topsite_main i:hover {
    color:#49a010;
}
.logo_pd {
    padding: 17px 0px 20px 0px;
}
.count_sp {
    height: 20px;
    line-height:20px;
    width:20px;
    background-color:#49a010;
    top: 16px;
    left: 8px;
    position:absolute;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
}
.info_cart {
    position:absolute;
    top: 50px;
    left: -280px;
    z-index: 5;
    display:none;
    width:320px;
    max-height: 500px;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 99999999;
}
.info_cart > div> .fa-times {
    top:10px;
    right:10px;
}
.info_cart::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.info_cart > div {
    border-right: none!important;
    border-left: none!important;
}
.info_cart > div > div:nth-of-type(1) {
    width:40%;
}
.info_cart > div > div:nth-of-type(2) {
    width:60%;
}
.info_cart button:nth-of-type(1) {
    background-color:#49a010;
    border:none;
}
.info_cart button:focus {
    outline:none;
}
#topsite_main_ {
    display: none;
}
#topsite_main_ i {
    color:black;
    transition:0.5s;
}
#topsite_main_ i:hover {
    color:#49a010;
}
#topsite_main_ img:hover {
    cursor: pointer;
}
.fa-search {
    cursor: pointer;
}
.navbar_nav {
    display:flex;
    background-color:#49a010;
    font-size: 13px;
    padding-bottom: 12px;
    flex-direction: row;
    justify-content: center;
}
.navbar_nav .nav-item {
     padding: 15px 0px 3px 0px!important;
     border-bottom: none!important;
}
.navbar_nav .fa-chevron-down {
    color:white!important;
    padding-left: 5px;
}
.navbar_nav .nav-item:hover {
    cursor: pointer;
}
.navbar_nav .nav-link {
    color:white !important;
    font-weight: bold !important;
    padding: 3px 8px!important;
    border-bottom: 1px solid #49a010;
    transition: 0.5s;
}
.navbar_nav .nav-link:hover {
    border-bottom: 1px solid white;
}
.navbar_nav abbr {
    text-decoration: none;
    cursor: pointer;
}
.navbar_nav .dropdown{
    position: relative;
}
.navbar_nav .dropdown_menu {
    background-color: white;
    transform: scale(0);
    transition: all ease 0.7s;
    display: flex!important;
    flex-direction: row!important;
    position: absolute;
    opacity:0;
    z-index: 9999;
} 
.navbar_nav .dropdown_menu li {
    width: 16.66%;
}
.navbar_nav .dropdown_menu li ul li {
    width: 80%;
    margin: 0px;
}
.nav_mark {
    display: none;
    top:0px;
    right:0px; 
    height:300px;
    background-color: transparent;
    z-index: 9999;
}
.body_mask {
    background-color:rgba(0,0,0,0.5);
    display:none;
    top:0px;
    z-index: 50;
}
.body_mask1 {
    background-color:rgba(0,0,0,0.5);
    display:none;
    top:0px;
    z-index: 99;
}
#navbar_left {
    top:0px;
    left:-75%;
    font-size: 14px;
    overflow: scroll;
    transition: all linear 0.5s;
    height: 100%;
    z-index: 90;
}

#navbar_left abbr {
    text-decoration: none;
    cursor: pointer;
    color:black;
}
#navbar_right {
    top:0px;
    right:-25%;
    height: 65px;
    transition: all linear 0.5s;
    z-index: 90;
}
#navbar_right .fa-long-arrow-alt-left {
    font-size: 45px;
    color:#49a010;
}
.dropdown_ ul li ul hr {
    border-color: #49a010;
    width: 30px;
}
.dropdown_ ul li ul li {
    padding:8px 0px;
 }
.dropdown_ .fa-arrow-right {
    font-size: 12px;
    color:#c7c1c1;
}
.dropdown_ .fa-chevron-down {
    font-size: 12px;
    color:black;
}
.dropdown_ ul a span {
    font-size: 12px;
}
.dropdown_ ul a span:hover {
    color:#49a010 !important;
}
.dropdown_ ul li a {
    font-size: 13px;
    color:#49a010;
}
.dropdown_ .dropdown_hidd {
    display:none;
}
#topsite_top_ {
    position: absolute;
    background-color:#252525;
    padding: 10px 15px;
    display:none;
    top:16px;
    z-index: 80;
}

.ul_translate li {
    margin-top: -3px;
}
#topsite_top_ a {
    color:white;
    font-size:14px;
}
#search_ {
    display: none;
    width: 100%;
    height:100%;
    top:30px;
    left:0px;
    background-color: rgba(73, 160, 16, 0.93);
    opacity: 0.5;
    transition: 0.6s;
    z-index: 99999999999999;
}
.search_main {
    width: 875px;
    position: absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    transition: 0.5s; 
    opacity: 0.1;
}
.search_main .fa-times {
    color: white;
    transform: scale(2);                
}
.search_main .fa-search {
    color: white;
    font-size: 30px;
}
.search_main .search_input {
    width: 95%;
    background-color:transparent;
    line-height: 50px;
    font-size: 30px;
    font-style: italic;
    color:white;
    font-weight: bold;
}
.search_main .search_input:focus {
    outline: none;
}
.search_main .search_input::placeholder {
    font-style: italic;
    color:white;
    font-weight: bold;
} 
.search_main hr {
    border:1px solid white;
}
#nav_fixtop_pc,#nav_fixtop_mb {
    background-color: white;
    opacity: 1;
    top:-90px;
    left:0px;
    box-shadow: 0px 0px 3px 0px black;
    z-index: 15;
}
#nav_fixtop_pc i {
    color: black;
}
#nav_fixtop_pc i:hover{
    color: #49a010;
}
#nav_fixtop_mb i {
    color: black;
}
#nav_fixtop_mb i:hover{
    color: #49a010;
}



#banner .carousel-item {
    transition: 1s;
}
#banner .carousel-indicators li {
    border-radius: 100%;
    width:15px;
    height: 15px;
    
}
#banner .carousel-indicators li:first-child {
    background-color: #49a010;
}
#banner .carousel-caption {
    display: none;
    top:0px;
}
#banner .carousel-caption h1 {
    transform:scale(0);
    transition: 1s;
   
}
#banner .carousel-caption h3 {
    transition:  0.2s;
    transform: rotateX(-90deg);
}
#banner .carousel-caption h4 {
    transition:  0.2s;
    transform: rotateX(-90deg);
}
#banner .carousel-caption button {
    font-size: 14px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid white;
    transition: background-color ease 1s, transform  0.2s;
    transform: rotateX(-90deg);
   
}
#banner .carousel-caption button:hover {
    background-color: #49a010;
    border: 1px solid transparent;;
}
#banner .carousel-caption button:focus {
    outline:none;
}

#banner_after {
    cursor: pointer;
}
#banner_after > div > .banner_after_div2 {
    background-color: #49a010;
    top:0px;
    left:0px;
    transform:scaleX(0);
    opacity: 0.2;
    transition:0.2s ease-in-out;
}
#banner_after a {
    color:white;
}
#banner_after > div:hover > .banner_after_div2 {
    transform:scaleX(1);
}
#banner_after .banner_after_div1 {
    top:0px;
    left:0px;
    padding-top: 100%;
}
#banner_after > div > .banner_after_div1 > button {
    border-radius: 20px;
    background-color:#49a010;
    padding: 7px 30px;;
}
#banner_after > div > .banner_after_div1 > button:focus {
    outline: none;
}
#why_kelis {
    width: 95%;
}
.why_kelis_title {
    margin-top: 50px;
    background-image: url("images/bg-title.png");
    background-position: top center;
    background-repeat:no-repeat;
    padding: 33px 0px;
}
.why_kelis_title h5 {
    color:#49a010;
}
.why_kelis_main > :nth-child(odd) {
    width: 30%;
}
.why_kelis_main > :nth-child(even) {
    width: 40%;
}
.why_kelis_main .d-flex img {
    width: 90px;
    height: 76px;
}
.why_kelis_main .d-flex p {
    color:grey;
    font-size: 14px;
    line-height: 25px;
}
.why_kelis_main .d-flex h5 {
    color:#49a010;
    font-weight: bolder;
}
.why_kelis_main > div:nth-child(3) p {
    text-align: right;
}
.why_kelis_main > div:nth-child(3) h5 {
    text-align: right;
}
.why_kelis_main > div:nth-child(2) img {
    width:100%;
}
.why_kelis_end {
    margin-top:80px;;
}
.why_kelis_end > div {
    overflow: hidden;
}
.why_kelis_end > div:hover img {
    transform: scale(1.1);
}
.why_kelis_end > div:hover div {
    background-color:rgba(255,255,255,0.3);
}
.why_kelis_end > div > img {
    transition:linear 0.2s;
}
.why_kelis_end > div > div {
    top:0px;
    left: 0px;
}
.special_pr_title button {
    background-color: white;
    border-radius: 20px;
    font-size:13px;
}
.special_pr_title .btn_active {
    background-color:#49a010;
    color: white;
}
.special_pr_title button:focus {
    outline:none;
}
.special_pr_title button:hover {
    background-color:#49a010;
}
.special_pr_title {
    margin-top: 50px;
}
.special_pr_main > div {
    width: 20%;
    transition:0.5s;
}
.special_pr_main_item {
    transition:0.5s;
}
.special_pr_main_item p {
    color:#49a010;
}
.special_pr_main_item p span {
    text-decoration: underline;
}
.hr_sample {
    width: 50px;
    border: 1px solid #49a010;
    transition:0.5s;
}
.special_pr_main_item > abbr {
    text-decoration:none;
}
.special_pr_main_item a span:hover {
    color:#49a010 !important;
}
.special_pr_main_item a span {
    overflow: hidden;
    text-overflow: ellipsis;
}
.special_pr_main_item:hover {
    border: 1px solid #49a010!important;
}
.special_pr_main_item:hover .hr_sample {
    width: 120px;
}
.specialprmainitem_select {
    top:30%;
    left:0px;  
}

.pr_hot_item,.pr_highlight_item {
    display:none;
    transition: scale(0);
}

.rank {
    width: 45px;
    line-height:45px;
    background-color: white;
    box-shadow: 0 0 5px 0px silver;
    text-align: center;
    transform:scale(0);
    transition:transform 0.2s linear;
    cursor: pointer;
}
.rank a {
    padding:10px;
}
.rank i {
    color:silver;
}
.rank:hover {
    background-color:#49a010;
    cursor: pointer;
}
.rank:hover a {
    color:white !important;
}
#special_pr_end {
    width: 87%;
    transform: translateY(50%);
    margin-top: -20px;
}

.specialprend_content > .col-lg-3 p {
    font-size: 14px;
}
.specialprend_content > .col-lg-3 {
    background-color:#49a010;
}
#deal {
    background-color:#eef1ea;
    padding-top: 100px;
}
.deal_title {
    margin-top: 0px;
}
.deal_main {
    margin-top:10px;
    padding-bottom:60px;
}
.deal_main > div:nth-child(odd) {
    width: 33.33%;
}
.deal_main_content > div > div {
    width: 85px;
    height: 85px;
    border: 1px solid #49a010;
    border-radius: 10px;
    padding-top: 5px;
}
.deal_main_content > div > div > p {
    text-align: center;
    margin-bottom:10px;
}
.deal_main_content > div > div > h1 {
    text-align: center;
    line-height: 24px;
    margin-top: 10px;
    color:#49a010;
}

.deal_end {
    width: 90%;
    overflow: hidden;
}
.deal_end_banner {
    transition: ease-in-out;
}
.deal_end_item {
    border-radius: 20px;
}
.deal_end_item .rank {
    border-radius: 50% !important;
    transform:scale(1);
}
.deal_end_item:hover .hr_sample {
    width: 120px;
}
.deal_end_item:hover h4:nth-child(1) {
    color: #49a010;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deal_end_item img {
    border: 1px solid transparent;
}
.deal_end_item:hover .border_top {
    width: 100%;
}
.deal_end_item:hover .border_bottom {
    width: 100%;
}
.deal_end_item:hover .border_left {
    height: 100%;
}
.deal_end_item:hover .border_right {
    height: 100%;
}
.border_sample {
    transition: 0.5s;
    width: 0px;
    height: 0px;
}
.border_top {
    top:0px;
    left:0px;
    border-top:1px solid #49a010;
}
.border_bottom {
    transform:rotate(180deg);
    bottom:0px;
    right:0px;
    border-top:1px solid #49a010;
}
.border_left {
    top:0px;
    left:0px;
    border-left:1px solid #49a010;
}
.border_right {
    transform:rotate(180deg);
    bottom:0px;
    right:0px;
    border-left:1px solid #49a010;
}
.deal_end_item > div:nth-child(2) > h4 >span {
    text-decoration: underline;
}
.dealenditem_select {
    margin-top:20px;
}
.deal_end ul li {
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color:rgba(73, 160, 16, 0.2);
    margin: 60px 10px;
}
.banner_active {
    transform:scale(1.5);
    background-color:#49a010!important;
}
.deal_end ul {
    display:flex;
}
.what_new_main {
    padding:0% 5%;
    padding-bottom: 100px;
}

.what_new_main .p1 { 
    overflow: hidden;
}
.what_new_main .p3 {
    color:grey;
}
.what_new_main .p2 a {
    color:#49a010;
}
.what_new_main h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:0.8s;
}
.what_new_main > div > div:hover > h5 {
    color:#49a010;
}
.what_new_main > div > div > div:hover > h5 {
    color:#49a010;
}
.what_new_main > div > div > .p4 {
    padding-bottom: 52px;
}
.what_new_main > .col-lg-4 > div {
    border-top: 3px solid #49a010 !important;
}
.what_new_main > .col-lg-8 > div:hover {
    border: 1px solid #49a010 !important;
}
.what_new_main > .col-lg-8 > div img {
    transition: 0.3s;
}
.what_new_main > .col-lg-8 > div:hover img {
    transform:scale(1.2);
}
#endsite {
    background-image: url("images/bg-footer-h2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    padding: 100px 0px 60px 0px;
}
#endsite a {
    color:white;
}
#endsite a:hover .fab {
    color:#49a010;
}
#endsite .fab {
    font-size:17px;
    color:white;
}
.endsite_top {
    width: 90%;
    background-color: #49a010;
    transform:translateY(-50%);
    top:0px;
    left: 5%;
    display: flex;
}
.endsite_top input {
    border-radius: 30px;
    width: 350px;
}
.endsite_top input:focus {
    outline: none;
}
.endsite_top button {
    border-radius: 30px;
}

.endsite_top button:focus {
    outline: none;
}
.get_pr img {
    width: 150px;
    height: 150px;
    opacity:0.5;
}
.get_pr {
    z-index: 999999;
}
.quick_info {
    width: 950px;
    top:0px;
    display: none;
    transition:0.5s;
    opacity: 0;
    z-index: 100;
}
.quick_info_top {
    background-color: #49a010;
    position: relative;
}

.close_quick_info {
    position: absolute;
    width: 30px;
    height: 30px;
    border: none;
    top: -13px;
    right: -13px;
    z-index: 10;
    background: url("images/x_icon.png") top left no-repeat;
    border-radius:100%;
    cursor: pointer;
}
.quick_info_main_left {
    width: 45%;
}
.quick_info_main_right {
    width: 55%;
}
.quick_info_main_left > img {
    width: 85%;
    height: 285px;
}
.quick_info_main_left .fas {
    top:50%;
    transform: translate(0,-50%); 
    position:absolute;  
    width:30px;
    height: 50px;
    line-height:50px;
    border: 1px solid #49a010;
    color: #49a010; 
    text-align: center;
    transition:0.5s;
    opacity: 0;
}
.quick_info_main_left .fas:hover {
    color: white;
    background-color:#49a010;
}
.img_detail {
    overflow: hidden;
    cursor: pointer;
}
.quick_info_main_left .fa-chevron-left {
    left: -30px;
}
.quick_info_main_left .fa-chevron-right {
    right: -30px;
}
.img_detail:hover .fa-chevron-left {
    left:16px;
    opacity: 1;
}
.img_detail:hover .fa-chevron-right {
    right:16px;
    opacity: 1;
}
.img_border_color {
    border: 1px solid #49a010 !important;
}
.quick_info_main_right h5 {
    color: #49a010;
}
.quick_info_main_right h5 span {
    text-decoration: underline;
}
.quick_info_main_right p:nth-of-type(1) {
    font-size: 14px;
}
.quick_info_main_right p i {
    font-weight:normal !important;
    font-size: 14px;
}
.quick_info_main_right input {
    width: 100px;
}
.quick_info_main_right input:focus {
    outline: none;
}
.quick_info_main_right button {
    background-color:#49a010;
    color:white;
    border: 1px solid #49a010;
}
.quick_info_main_right button:hover {
    background-color:white;
    color:#49a010;
}
.quick_info_main_right button:focus {
    outline: none;
}
.quick_info_main_right p a {
    color:#49a010;
}
.banner-breadcrumb{
    width: 100%;
    background: url(images/bg-banner.jpg) no-repeat center center;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner-contact{
    text-align: center;
}
.banner-contact h2{
    margin-left: 10px;
    font-size: 25px;
}
.banner-breadcrumb h2{
    color: white;
}
.banner-breadcrumb a{
    color: white;
    text-decoration: none;
}
.breadcrumb{
    background-color: unset !important;
    justify-content: center;
}
.empty_cart_main button {
    background-color:#49a010;
    border:none;
    border-radius: 50px;
}
.empty_cart_main img {
    width: 500px;
}
.empty_cart_main button:focus {
    outline:none;
}
.empty_cart {
    display:none;
}
.cartinfo {
    width: 90%;
    font-size: 15px;
    display:none;
}
.cartinfo input {
    width: 45px;
    top: 50%;
    transform: translateY(-50%);
    border:1px solid silver;
}
.cartinfo input:focus {
    outline: none;
}
.cartinfo .inp2 {
    left: 105px;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
}
.cartinfo .inp1 {
    cursor: pointer;
    border-radius: 20px 0px 0px 20px;
}
.cartinfo .inp3 {
    left: 40px;
    width: 70px;
}
.cartinfo table tr {
    border-left: none !important;
    border-right: none !important;
}
.cartinfo > .col-lg-4 > div:nth-of-type(1) > div {
    background-color: rgb(238, 236, 236);
}
.cartinfo > .col-lg-4 > div:nth-of-type(1) > div button {
    background-color: #49a010;
    border:1px solid #49a010;
    border-radius:30px;
    padding-top:11px;
    padding-bottom:11px;
}
.cartinfo > .col-lg-4 > div:nth-of-type(1) > div > button:hover {
    color: #49a010!important;
    background-color: white;
}
.cartinfo button:focus {
    outline: none;
}
.cartinfo textarea {
    width: 100%;
    border-radius: 0px !important;
}
.cartinfo > .col-lg-8 button {
    background-color: #49a010;
    border:1px solid #49a010;
    border-radius:30px;
    padding-top:11px;
    padding-bottom:11px;
}

.cartinfo > .col-lg-8 button:focus {
    outline: none;
}
.cartinfo .fa-trash-alt {
    cursor: pointer;
}
.margin_ft {
    margin-top:30px !important;
}
.cartinfo > .col-lg-8 p {
    text-align: center;
}
.cartinfo a {
    color:black;
}
.cartinfo img {
    min-width: 90px;
}
.list_main {
    width: 85%;
}
.list_main h3 {
    background-color:#dedede;
    border-radius:10px;
}
.list_main ul {
    padding-left: 18px;
}
@media screen and (min-width:1360px) {
    #why_kelis {
        width: 1200px;
        padding:0px ;
    }
    .what_new_main {
        width: 1143px;
        padding:0px 0px 100px 0px;
    }
    #topsite_top ul {
        width: 650px !important;
    }
    #topsite_main {
        width: 1360px !important;
    }
    .cartinfo {
        width: 1200px;
    }
}
@media screen and (max-width:1100px) {
    .special_pr_main {
        padding:0px 1.5rem !important;
    }
    .special_pr_main > div {
        padding:0px 0.5rem !important;
        margin:0.5rem 0px!important;
    }
}
@media screen and (max-width:992px) {
    #topsite {
        height: auto;
    }
    #topsite_top {
        display: none!important;
    }
    #topsite_main {
        display: none;
    }
    #topsite_main_{
        display:flex;
    }
    .navbar_pc {
        background-color: #49a010;
        height: 16px;
    }
    .navbar_pc .navbar_nav{
        display:none;
    }
    #banner_after .banner_after_div1 {
        padding-top: 80%;
    }
    #why_kelis {
        width: 100%;
    }
    .why_kelis_main {
        flex-wrap: wrap;
    }
    .why_kelis_main > :nth-child(odd) {
        width: 100%;
        display:flex;
    }
    .why_kelis_main > :nth-child(even) {
        width: 100%;
        display:flex;
    }

    .why_kelis_main > div > div {
        width: 33.33%;
    }
    .why_kelis_main .d-flex {
        padding-right: 1%!important;
        padding-left: 1%!important;
    }
    .why_kelis_main > div:nth-child(3) p {
        text-align: left;
    }
    .why_kelis_main > div:nth-child(3) h5 {
        text-align: left;
    }
    .why_kelis_main > div:nth-child(2) img {
        margin:auto;
        width:40%;
        display:block;
    }
    .why_kelis_main > div:nth-child(3) div {
        padding-top:0px!important;
    }
    .why_kelis_main > div:nth-child(1) p {
        margin-bottom:0px !important;
    }
    .why_kelis_main > div:nth-child(3) .why_kelis_main_content {
        order:2;
    }
    .why_kelis_main > div:nth-child(3) img {
        order:1;
    }
    .special_pr_main > div {
        width: 33.33%;
        padding:0px 1rem !important;
        margin:1rem 0px !important;
    }
    .special_pr_main {
        padding:0px 2rem !important;
    }
    #special_pr_end {
        width: 95%;
        margin-top: -54px;
    }
    .specialprend_content > .col-lg-3:nth-child(3) > div {
        border: none !important;
    }
    #deal {
        padding-top: 140px;
    }
    .deal_end_item {
        padding: 12px !important;
    }
    .dealenditem_select {
        margin-top: 0px;
    }
    .deal_end_item hr {
        margin:10px auto;
    }
    .deal_end_item > div:nth-child(1) {
        width: 45%!important;
    }
    .deal_end_item > div:nth-child(2) {
        width: 55%!important;
    }
    .deal_end_item h4 {
        font-size: 18px;
    }
    #endsite {
        padding-top:130px;
    }
    .quick_info {
        width: 750px;
    }
    .quick_info_main {
        flex-wrap: wrap;
    }
    .quick_info_main > div {
        width: 100%;
    }
    .quick_info_main_right {
        padding-top:0px!important;
        padding-left: 20px!important;
    }
    .quick_info_main_left > img {
        width: 50%;
    }
    .quick_info {
        height: 90%;
        overflow:scroll;
    }
    .quick_info::-webkit-scrollbar {
        width: 0px;
    } 
    .close_quick_info {
        top: 0px;
        right: 0px;
    }
    .quick_info_main_left > img {
        height: 350px;
    }
}
@media screen and (max-width:900px) {
    .search_main {
        width: 95%;
    }
}
@media screen and (max-width:768px) {
    .carousel-caption h1 {
        font-size: 40px;

    }
    .carousel-caption h3 {
        font-size: 25px;
        margin-bottom: 30px!important;
    }
    .carousel-caption h4 {
        display: none;
    }
    #banner_after .banner_after_div1 {
        padding-top: 62%;
    }
    .why_kelis_main > div:nth-child(odd) {
        flex-wrap: wrap;
    }
    .why_kelis_main > div:nth-child(even) {
        flex-wrap: wrap;
    }

    .why_kelis_main > div > div {
        width: 100%;
    }

    .why_kelis_main > div:nth-of-type(3) {
        order:2;
    }
    
    .why_kelis_main > div:nth-of-type(2) {
        order:3;
    }
    .why_kelis_main > div:nth-of-type(2) img {
        width:60%;
    }
    .special_pr_main > div {
        padding:0px 0.5rem !important;
        margin: 0.5rem 0px !important;
    }
    .special_pr_main {
        padding:0px 1rem !important;
    }
    .deal_end_item {
        padding: 24px !important;
    }
    .dealenditem_select {
        margin-top: 10px;
    }
    .deal_end_item hr {
        margin:15px auto;
    }
    .deal_end_item > div:nth-child(1) {
        width: 50%!important;
    }
    .deal_end_item > div:nth-child(2) {
        width: 50%!important;
    }
    .deal_end_item h4 {
        font-size: 20px;
    }
    .quick_info {
        width: 570px;
    }
   
    .quick_info_main_left > img {
        height: 300px;
        width: 70%;
    }
    #endsite {
        padding-top:150px;
    }
    .cartinfo {
        width: 100%;
    }
    .rank {
        display:none;
    }
}

@media screen and (max-width:576px) {
    #banner .carousel-caption p {
        display: none;
    }
    .carousel-caption h1 {
        font-size: 25px;

    }
    .carousel-caption h3 {
        font-size: 15px;
    }
    #banner_after .banner_after_div1 {
        padding-top: 100%;
    }
    .why_kelis_main .col-lg-4:nth-child(2) img {
        width:100%;
    }
    .why_kelis_title h1 {
        font-size:25px;
    }
    .why_kelis_title h5 {
        font-size:15px;
    }
    .special_pr_main > div {
        width: 50%;
    }
    .special_pr_main {
        padding:0px 1rem !important;
    }
    .specialprend_content > .col-lg-3 > div {
        border: none !important;
    }
    .specialprend_content > .col-lg-3 {
        border-bottom: 1px solid silver;
        padding-left: 5% !important;
    }
    .specialprend_content > .col-lg-3:nth-child(4) {
        border-bottom: none;
    }
    .deal_main_content > div > div {
        width: 65px;
        height: 65px;
    }
    .deal_main_content > div > div > p {
        text-align: center;
    }
    .deal_main_content > div > div > h1 {
        margin-bottom: 3px;
        margin-top:3px;
        font-size: 30px;
    }
    #special_pr_end {
        width: 87%;
        transform: translateY(0%);
        margin-top: 20px;
    }
    #deal {
        padding-top: 50px;
        margin-top: 50px;
    }
    .what_new_main {
        padding:0% 2%;
        padding-bottom: 120px;
    }
    .endsite_top {
        width: 100%;
        left: 0%;
    }
    #endsite {
        padding-top: 180px;
    }
    .quick_info {
        width: 95%;
    }
    .quick_info_main_left > img {
        width: 100%;
    }
    .quick_info_main_left {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .quick_info_main_left > img {
        width: 100%;
        height: auto;
    }
    .quick_info_main_right > p:nth-of-type(5) {
        flex-wrap: wrap;
    }
    .empty_cart_main button {
       width: 100%;
    }
    .empty_cart_main img {
        width: 100%;
    }
    .cartinfo {
        font-size:15px;
    }
    .cartinfo input {
        width: 25px;
    }
    .cartinfo .inp2 {
        left: 50px;
    }
    .cartinfo .inp3 {
        left: 23px;
        width: 30px;
    }
    .cartinfo table .d-flex {
        flex-wrap: wrap;
        justify-content: start!important;
    }
    .banner-breadcrumb{
        padding-top: 60px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:450px) {
    .deal_end_item {
        flex-wrap: wrap!important;
        padding-bottom: 100px!important;
    }
    .deal_end_item > div:nth-child(1) {
        width:100% !important;
    }
    .deal_end_item > div:nth-child(2) {
        width:100% !important;
    }
    .deal_end ul li { 
        margin:40px 5px!important;
    }
}
@media screen and (max-width:411px) {
    .special_pr_main > div {
        padding:0px 0.2rem !important;
        margin:0.2rem 0px !important;
    }
    .special_pr_main {
        padding:0px 0.5rem !important;
    }
}                                                                               