
.content {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 0 20px;
    max-width: 1200px;
    min-width: 950px;
}
.content ul {
    text-decoration: none;
    list-style: none;
}
.div_hr {
    width: 40px;
    border: 2px solid #49a010;
}
.content ul a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
}
.content ul a:hover {
    color: #49a010;
}
.content ul li span{
   font-size:11px;
   color:silver;
}
.content img{
    width: 100%;
    height: auto;  
    transition:0.3s; 
}
h6 {
    color:#333333!important;
    font-weight: 600;
}
h5 a {
    color:#333333;
    font-weight: 600;
}
h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:19px;
}
.title_ {
    font-size:19px;
}
h5 a:hover {
    color:#333333;
}
#content-left i {
   color:silver;
}
.content p{
    color: #545454;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}
.content-item1{
    padding: 0 15px;
    width:50%;
}
.content-item-blog div:nth-of-type(1) {
    overflow: hidden;
}
.content-item-blog:hover {
    border: 0.5px solid #49a010!important;
}
.content-item-blog div:nth-of-type(1) div:nth-of-type(1) {
    top:0px;
    left:0px;
    background-color:rgba(255,255,255,0.2);
    transition:0.3s;
    width: 0px;
}
.content-item-blog div:nth-of-type(1) div:nth-of-type(2){
    top:0px;
    right:0px;
    background-color:rgba(255,255,255,0.2);
    transition:0.3s;
    width: 0px;
}
.content-item-blog div:nth-of-type(1) svg {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition:0.3s;
}
.content-item-blog div:nth-of-type(1):hover div {
    width: 100%;
}

.content-item-blog div:nth-of-type(1):hover svg {
    transform: translate(-50%,-50%) scale(1);
}

.content-item-blog:hover img {
    transform:scale(1.3);
    opacity: 0.8;
}
.content-item-smallblog {
    padding: 45px;
}
.content-item-smallblog > a{
    color: #49a010;
    font-size:17px;
}
.content-item1 h6 a, .content-item2 h6 a{
    color: black;
    font-size: 17px;
    display: block;
    overflow: hidden;
}
.content-item-arrow{
    width: 20px !important;
    height: auto;
}



@media only screen and (max-width:992px){
    .content{
        width: 750px;
        min-width: 750px;
    }
    .content-item1{
        width:100%;
    }
}   
@media only screen and (max-width:768px){
    .content {
        width: 100%;
        padding:0px !important;
        min-width: 300px;
    }
    .content-item1:nth-of-type(1) {
        margin-top:16px;
    }
    .content-item1 {
        padding-left:0px;
    }
}