.pay .form-check span {
    font-size:15px;
    color:#333333;
}
.pay .form-check {
    cursor: pointer;
}
.pay .form-check-input {
    width: 20px;
    height: 20px;
    outline: none;
    left: 40px;
    top:13px;
}
.pay .form-check-label {
    padding-left:30px;
    cursor: pointer;
    height: 56px;
}
.pay .form-check:nth-of-type(2) {
    border-radius:5px 5px 0 0;
    border-bottom: none!important;
}
.pay .form-check:nth-of-type(3) {
    border-radius:0 0 5px 5px;
}